@import "/node_modules/normalize.css/normalize.css";
@import "fonts";
@import "variables";

// General
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

::selection {
    background-color: $primaryGrey;
    color: $primaryBlack;
}

// Typography
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: $montserratFont;
    font-size: 2rem;
    min-height: 100vh;
    color: $primaryBlack;
}

#root {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $primaryBlack;
}

.container {
    max-width: 1450px;
    margin: auto;
}

.header {
    grid-area: header;
    padding: 2rem 5rem;
    position: sticky;
    z-index: 100;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 /20%);
    transition: 0.2s;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        font-weight: bold;
        font-size: 2rem;

        &__text {
            margin-left: 1rem;
        }
    }

    &__toggler {
        display: none;
    }

    &__list {
        display: flex;

        .list-item-link {
            font-size: 1.8rem;
            font-weight: bold;
            padding: 1rem 2rem;
            transition: all 0.2s ease;

            &:hover {
                background-color: $primaryBlack;
                color: $primaryWhite;
            }
        }
    }

    &__link-icons__list {
        display: flex;

        .link-icons__list__item {
            padding-top: 0.4rem;
        }

        .list-item-link-icon {
            font-size: 2rem;
            margin-left: 1.6rem;
        }
    }
}

.main {
    grid-area: content;
    padding: 2rem;
}

.footer {
    grid-area: footer;
    background-color: $primaryBlack;
    padding: 5rem;
    color: $primaryWhite;
    text-align: center;

    &__link {
        color: $primaryGrey;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) {
    .header,
    .footer {
        padding: 2rem;
    }

    .nav {
        &__toggler {
            display: block;
            cursor: pointer;
        }

        &__list {
            display: none;

            &-active {
                display: block;
                position: absolute;
                top: 7.5rem;
                background: white !important;
                width: 100%;
                left: 0;
                box-shadow: 0 16px 18px -10px rgb(129 162 182 / 20%);
                padding: 0 2rem;
                padding-bottom: 1.4rem;

                .list-item-link {
                    display: block;
                }
            }

            &__item {
                text-align: center;
            }
        }
    }
}
