@import "/node_modules/normalize.css/normalize.css";
@import "fonts";
@import "variables";

// General
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

::selection {
    background-color: $primaryAccent;
    color: $primaryBlack;
}

// Typography
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: $montserratFont;
    font-size: 2rem;
    min-height: 100vh;
    color: $primaryBlack;
}

#root {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $primaryBlack;
}

// Elements
// - header with navigation
.header {
    grid-area: header;
    padding: 2rem 5rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 /20%);
    transition: 0.2s;
    background-color: $primaryWhite;
    z-index: 1000;

    @media screen and (max-width: 768px) {
        bottom: 0;
    }
}

.nav {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        font-weight: bold;
        font-size: 2rem;

        &__text {
            margin-left: 1rem;
        }
    }

    &__toggler {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
            cursor: pointer;
        }
    }

    &__list {
        display: flex;

        @media screen and (max-width: 768px) {
            display: none;
        }

        &-active {
            @media screen and (max-width: 768px) {
                display: block;
                top: -14.5rem;
                position: absolute;
                background: white !important;
                width: 100%;
                left: 0;
                box-shadow: 0 -16px 18px -10px rgb(129 162 182 / 20%);
                padding: 1.4rem 2rem 1rem;
            }
        }

        &__item {
            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }

        .list-item-link {
            font-size: 1.8rem;
            font-weight: bold;
            padding: 1rem 2rem;
            transition: all 0.2s ease;

            @media screen and (max-width: 768px) {
                display: block;
            }

            &.active {
                background-color: $primaryAccent;
                color: $primaryWhite;
            }

            &:hover {
                background-color: $primaryBlack;
                color: $primaryWhite;
            }
        }
    }

    &__link-icons__list {
        display: flex;

        .link-icons__list__item {
            padding-top: 0.4rem;
        }

        .list-item-link-icon {
            font-size: 2rem;
            margin-left: 1.6rem;

            &.active {
                color: $primaryAccent;
            }
        }
    }
}

// - main and container
.main {
    grid-area: content;
    margin-top: 6rem;
    padding: 5rem;

    @media screen and (max-width: 768px) {
        margin-top: 0;
        padding: 2rem;
        margin-bottom: 6rem;
    }

    &__title {
        margin-top: 0;
        font-weight: bold;

        @media screen and (max-width: 768px) {
            font-size: 3.4rem;
        }
    }
}

.container {
    max-width: 1450px;
    margin: auto;
    height: 100%;
}

// - footer
.footer {
    grid-area: footer;
    background-color: $primaryBlack;
    padding: 5rem;
    color: $primaryWhite;
    text-align: center;

    &__link {
        color: $primaryGrey;
        font-weight: bold;
    }
}

// - buttons
.btn {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: $primaryBlack;
    color: $primaryWhite;
    padding: 1.4rem 2.4rem;
    font-weight: bold;
    transition: all 0.2s ease;
    cursor: pointer;
    display: inline-flex;

    &__text {
        margin-left: 1.4rem;
    }

    &:hover {
        background-color: $primaryAccent;
        color: $primaryBlack;
    }
}

// - go back link
.go-back {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1.6rem;

    &__text {
        margin-left: 1rem;
    }
}

// - rating
.rating {
    margin-top: 1.4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &__star {
        color: rgb(226, 192, 67);
    }

    &__text {
        margin-left: 1rem;
        font-size: 1.2rem;
    }
}

// Pages
// - Products
.products {
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        grid-auto-rows: auto;
        grid-gap: 4rem;

        .card {
            text-align: center;
            padding: 0 3rem 3rem 3rem;
            box-shadow: 0px 2px 18px 0 rgb(129 162 182 /20%);
            transition: all 0.5s ease;
            position: relative;

            &__image {
                max-width: 100%;
            }

            &__name {
                font-size: 1.6rem;
            }

            &__small {
                font-size: 1.6rem;
                margin-top: 1rem;
            }

            &__button {
                border: 0;
                background-color: transparent;
                opacity: 0;
                position: absolute;
                cursor: pointer;
                padding: 2rem;
                background-color: $primaryBlack;
                color: $primaryWhite;
                top: 50%;
                bottom: auto;
                right: 0;
                min-width: 18rem;
                z-index: 100;
                transition: all 0.5s ease;
                font-weight: bold;

                &__text {
                    font-size: 1.4rem;
                    align-content: center;
                    margin-left: 1rem;
                }
            }

            &:hover {
                transform: scale(1.06);

                .card__button {
                    opacity: 1;
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}

// - Product view
.product {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        align-items: center;

        &__image {
            max-width: 100%;
            margin: auto;
        }
    }

    .related {
        text-align: left;

        &__stock-status {
            margin: 1rem 0;
            font-size: 1.6rem;
            font-weight: bold;
        }

        &__price {
            margin-bottom: 2rem;
            font-size: 2.8rem;
            font-weight: bold;
        }

        .btn {
            display: block;
            padding: 2rem;
            width: 100%;

            @media screen and (min-width: 768px) {
                padding: 1.4rem 2.4rem;
                width: auto;
            }
        }
    }
}

// - Not found (404)
.not-found {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    justify-content: center;

    &__description {
        margin-bottom: 4rem;
    }
}

// TODO: move these in their places up
@media screen and (max-width: 768px) {
    .header,
    .footer {
        padding: 2rem;
    }
}
